<!DOCTYPE html>
<html>
<head>
  <title>Test Web App</title>
</head>
<body>
  <h1>Test Web Application</h1>
    <p><% if @name %>
      <%= "Hello, #{@name}!" %>
      <% else %>
      <%= "Hello! Welcome!" %>
      <% end %>
    </p>
</body>
</html>